

<div class="minia"> Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon tulostaja otti kaljuunan ja sekoitti sen tehdäkseen esimerkkikirjan. Se ei ole selvinnyt vain viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissa oli Lorem Ipsum pätkiä, julkaistiin ja vielä myöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista. </div>
  
<div class="minia"> 
  <h2>Hello  </h2>
    This is a test paragraph.
    
    
</div>
  
<div class="minia"> 
  <h3> News for: <b><%=   @search[:title]%> </b></h3>
  
  <% @search[:results].each do |hey, result| %>
  <h5> <%= link_to result[:title].html_safe , result[:link] %>  </h5>
    <%= result[:content].html_safe  %> 
    <hr>
    <% end %>
    
</div>
    
    
  
<!--   
<div class="minia"> 
  <%= @json %>
</div>
     -->
    