@font-face {
    font-family: 'jalane_light';
    src: asset-url('jalane_light-webfont.eot');
    src: asset-url('jalane_light-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('jalane_light-webfont.woff2') format('woff2'),
         asset-url('jalane_light-webfont.woff') format('woff'),
         asset-url('jalane_light-webfont.ttf') format('truetype'),
         asset-url('jalane_light-webfont.svg#jalane_lightjalane_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

.minia {
	font-family: Arial;
/*   font-family:  'jalane_light';  */

	font-size: 1em;	
  line-height: 120%;
	color: white;
  background-color: #007FFF;
	border-width: 0.01px;
  border-style: dashed;
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 0px;
  text-shadow: black 1px 1px 1px
}